* {
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url(https://png.pngtree.com/background/20210709/original/pngtree-blue-cartoon-hand-drawn-programmers-day-illustration-background-picture-image_929476.jpg);
    color: #212121;
    line-height: 1.5;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  * {
    padding: 0;
    margin: 0;
    border: 0;
  }
  ul,
  li {
    list-style: none;
  }
  img {
    vertical-align: top;
  }
  #search-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: 25px 0 25px 0;
    background: linear-gradient( #2050ee, #e5f31b);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
  }
  input{
    padding: 10px 20px;
    width: 240px;
    height: 40px;
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
    cursor: pointer;
    transition: all 300ms linear;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    transition: color 250ms linear, background-color 250ms linear, box-shadow 250ms linear;
    font-size: 16px;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  input:hover,
  input:focus{
    background-color:rgb(110, 240, 116);
    color: #212121;
  }
  
  
  input:disabled {
    opacity: 0.7;
  }
  input::placeholder {
    font-size: 16px;
    color: #070606;
  }
  
  .is-hidden {
    display: none;
  }
  
  button[type="submit"]{
   padding: 10px 20px;
   width: 120px;
   height: 40px;
   border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
   border: none;
   font-size: 16px;
   cursor: pointer;
   transform: translateX(-50%);
   transition: background-color 300ms linear, color 300ms linear;
   background-color: #07bb07;
  }
  button[type="submit"]:hover,
  button[type="submit"]:focus{background-color: rgb(139, 10, 190);
  }
  .gallery{
    display:flex;
    flex-wrap: wrap;
    padding:30px;
    justify-content: center;
    margin-top: 80px;
  }

  a{
    text-decoration: none;
    color: inherit;
    padding-bottom: 20px;
  }
  a:not(:last-child){
    padding-right: 20px;
  }
  a:visited,
  a:hover {
    text-decoration: none;
  }
  
  .photo{
   background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    transition: transform 250ms linear;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .photo:hover {
    transform: scale(1.07);
  }
  .img-block {
    width: 340px;
    height: 220px;
    object-fit: cover;
  }
  .img-card{
    display: block;
    width: 100%;
    height: 70%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .list-info{
    display: flex;
   justify-content: space-between;
    padding: 15px;
  }
  
  .info-block{
     display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .load-more {
    width: 200px;
    height: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 50%;
    margin-right: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 300ms linear, color 300ms linear;
    background-color: #07bb07 ;
  }
    .load-more:hover,
    .load-more:focus {
      background-color: rgb(139, 10, 190);
      color: rgb(0, 0, 0);
    }
    .load-more.is-hidden {
      display: none;
    }